@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Kavivanar', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-size: cover; /* This will make the image cover the entire background */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-container {
  display: flex;
  justify-content: center; /* Horizontally center the items */
  align-items: flex-start; /* Align items at the top of the container */
  flex-wrap: wrap; /* Allow items to wrap to the next row if needed */
  gap: 5px; /* Adjust the gap between cards as needed */
  max-width: 1200px; /* Optionally limit the maximum width of the container */
  margin: 0 auto; /* Horizontally center the container on the page */
  padding: 5px; /* Add padding around the container */
}
